# dependencies
/node_modules
/.pnp
.pnp.js
.rpt2_cache/
lerna-debug.log
.vscode/
coverage/
packages/core/src/examples/builtcheck.ts
packages/*/node_modules
packages/*/.yarn/*

typesversions
.cache
.yarnrc
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tgz